# Зависимости
node_modules
.pnp
.pnp.js

# Переменные окружения
.env
.env.docker
.env.prod

# Сборка
dist
build
out
.next
typed-router.d.ts

# Turbo
.turbo

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Система
.DS_Store
*.pem
Thumbs.db

# IDE
.idea
*.swp
*.swo

# Postgres volumes (если монтируются локально)
pgdata
